
<head>
<h1>Datenraum-Explorer</h1>
<!DOCTYPE html>
</head>

<body>
<p>Das Wichtigste zuerst: den Datensatz anfragen:</p>

<form action="/showData" method="post">
    <label for="showDid">DID des Datensatzes:</label><br>
    <input type="text" id="showDid" name="showDid"><br><br>
    <button name="getData" value="send">Daten anfragen</button>
</form>

<br><br>

<p>Dann einige Funktionen, die nur verwenden sollte, wer weiß was sie tun:</p>

<p>Setze einen Algorithmus auf die C2D-Whitelist eines Datensatzes:</p>
<p>Beachte: sowohl der Datensatz, als auch der Algorithmus müssen für C2D freigegeben sein!</p>

<form action="/publishData" method="post">
    <label for="dataDid">DID des Datensatzes:</label><br>
    <input type="text" id="dataDid" name="dataDid"><br><br>

    <label for="algoDid">DID des C2D-Algorithmus:</label><br>
    <input type="text" id="algoDid" name="algoDid"><br><br>

    <button name="setWhitelist" value="send">Start</button>
</form>

</body>
