<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<meta name = "viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1>Datenraum-Explorer</h1>
    <p>Wir konnten die Daten erwerben: </p>

    <ul>
        <% for(var i=0; i<Datapoints.length; i++) { %>
            <li>
                <%= Labels[i] %>: <%= Datapoints[i] %>
            </li>
        <% } %>
    </ul>

    <div style = "width: 800px;">
        <canvas id="myChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const ctx = document.getElementById('myChart');
        new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [<%= Labels %>],
            datasets: [{
            label: 'Füllstand',
            data:  [<%= Datapoints %>],
            borderWidth: 1
            }]
        },
        options: {
            scales: {
            y: {
                beginAtZero: true
            }
            }
        }
        });
    </script>


    <div style="width: 600px;"><canvas id="viewData"></canvas></div>
    
<noscript>Fehler: ihr Browser unterstützt kein JavaScript!</noscript>

<p>C2D-Algorithmus der den Mittelwert berechnet: </p>

<form action="/viewData" method="post">
    <button name="startC2D" value="send">starte C2D-Algorithmus</button>
</form>


<% if(C2D>=1) { %>
    <p>Der Prozess wurde gestartet, und dauert circa eine bis maximal zehn Minuten. Hier können Sie den Status abfragen: </p>
<form action="/getStatus" method="post">
    <button name="RequestStatus" value="send">Status abfragen</button>
</form>
<% } %>

<% if(C2D>=2) { %>
    <p>Aktueller Status: <%= Status %></p>
<% } %>

<% if(C2D==3) { %>
    <form action="/getResult" method="post">
        <button name="RequestResult" value="send">Ergebnis abfragen</button>
    </form>
<% } %>

<% if(C2D==4) { %>
    <p>Der berechnete Mittelwert beträgt <%= Avg %></p>
<% } %>
  

<form action="/getBack" method="post">
    <button name="getBack2" value="send">zurück</button>
</form>

</body>
</html>