<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<meta name = "viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1>Datenraum-Explorer</h1>
    <p>Wir konnten die Daten pullen: </p>

    <ul>
        <% for(var i=0; i<Datapoints.length; i++) { %>
            <li>
                <%= Labels[i] %>: <%= Datapoints[i] %>
            </li>
        <% } %>
    </ul>

    <div style = "width: 800px;">
        <canvas id="myChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const ctx = document.getElementById('myChart');
        new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [<%= Labels %>],
            datasets: [{
            label: 'Fuellstand',
            data:  [<%= Datapoints %>],
            borderWidth: 1
            }]
        },
        options: {
            scales: {
            y: {
                beginAtZero: true
            }
            }
        }
        });
    </script>


    <div style="width: 800px;"><canvas id="viewData"></canvas></div>
    
    
    
<noscript>Sorry, your browser does not support JavaScript!</noscript>
    

</body>
</html>